*
!*.sh
!*.json
!estimation/*.R
!estimation/*.sh
!estimation/*.txt
!input/*.R
!input/*.sh
!input/*.txt
!tests
!tours/*.py
!input-config.json
!install-dependencies.R
!Pipfile
!Pipfile.lock
!README.md
!*.py
