# Auxiliary Python files
*.py[cod]

# Caches
.pytest_cache

# Sensitive information
survey/*.csv

# Output files
*.RData
*.csv
estimation/alternatives/*.txt
output/**/*.txt
*.log

# IDE-specific folders
.idea
*.code-workspace

