# Auxiliary Python files
*.py[cod]

# Caches
.pytest_cache

# Sensitive information
survey/*.csv

# Proprietary libraries
strafica/

# Output files
*.RData
*.csv
output/tours/*.csv
output/tours/*.txt
output/alternatives/*.csv
output/alternatives/*.txt

# IDE-specific folders
.idea
*.code-workspace
