# Auxiliary Python files
*.py[cod]

# Caches
.pytest_cache

# Sensitive information
tours/output/*.csv
input/*.csv

# Output files
estimation/alternatives/*.txt
estimation/alternatives-columns.txt
*.RData

# Extra config files
input-config-*.json

# R files
*.R

# IDE-specific folders
.idea
