# Auxiliary Python files
*.py[cod]

# Caches
.pytest_cache

# Sensitive information
tours/input/matkat*.csv
tours/input/paikat*.csv
tours/input/tausta*.csv
tours/output/*.csv
input/matkat*.csv
input/paikat*.csv
input/tausta*.csv
output/*.csv

# Extra config files
input-config-*.json

# R files
*.R

# IDE-specific folders
.idea
